/* Body */
.container {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
background: white;

}

img {
    display: block;
    width: 100%;
    height: auto;
  }
h1,
h2,
h3 {
	margin: 0;
padding: 1em;
}

p {
	margin: 0;
	padding: 1em 0;
}

/* Header */

.header-title, .header-content {
color: white;
padding: 2em;
padding-bottom: 1px;
margin-bottom: 1.5em;
animation: slide 2s 1;
}
@keyframes slide {
    from {
      margin-left: 100%;
      width: 300%;
/*       opacity: 0;
 */    
}
  
    to {
      margin-left: 0%;
      width: 100%;
/*       opacity: 1;*/ 
   }
  }
.header {
background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    max-height: 450px;
    opacity: 0.9;
    /* animation: bg 4s 1; */
}

/* @keyframes bg {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
} */
.header p {
    padding-bottom: 3.9em;
}
.header-button {

    background: black;
    color: white;
border: 1px solid gray;
padding: 1.2em;
max-width: 10%;
margin: 1em auto;
text-decoration: none;

}
.header-button:hover{
    background: white;
    color: black;
}

/* Info one */

.info-one {
    color: black;
    background: white;
  /*   animation-duration: 2s;
    animation-name: slide;
    animation-iteration-count: 1; */

}
/* @keyframes slide {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */

  
.info-one-content {
    columns: 2;
font-size: 1em;
max-width: 80%;
margin-left: 7em;


}

/* Main box */

.main-box {

    background: rgb(75, 75, 75);
    animation: opacity 4s 1;
}

@keyframes opacity { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

/* .main-box img {

} */
.main-box ul {
    display: flex;
    justify-content: space-around;
    padding: 3em;
    
}
.main-box li {
    background: white;
    max-width: 25%;

    min-height: 55%;
    padding-bottom: 6em;
animation-duration: 4s;
    animation-name: slide-2;
    animation-iteration-count: 1;
}
@keyframes slide-2 {
    from {
      margin-top: 100%;
      width: 300%;
    }
  
    to {
      margin-top: 0%;
      width: 100%;
    }
  }
/* Info two */
.info-two {
    background: white;
padding: 2.5em 0;
}

/* PRE FOOTER */

.pre-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
color: white;
}

.pre-footer-box1 {
    min-width: 50%;
    max-width: 50%;
    background: rgb(93, 93, 255);
}
.pre-footer-box2 {
    min-width: 50%;
    max-width: 50%;
    background: rgb(63, 63, 63);
}
/* footer */

.footer {
    background: black;
    color: white;
    min-width: 100%;
    display: flex;
justify-content: space-around;
padding: 1em 0;

}
.footer a {
    text-decoration: none;
    color: rgb(116, 93, 247);
}

/* Adaptation */

@media screen and (max-width: 700px) { 

    .info-one {
display: flex;
flex-wrap: wrap;
justify-content: center;


    }
    .info-one p {
margin-right: 6em;
min-width: 80%;
    }
    
.header p {
    padding-bottom: 2.5em;
}

    .main-box ul {
        flex-wrap: wrap;
        padding: 0.5em;
    }
.main-box li {
    min-width: 100%;
margin-bottom: 1em;
}
.main-box h2 {
margin-top: 2.5em;
}
.pre-footer-box2 h2 {
min-width: 90%;
}
.pre-footer p {
    max-width: 90%;
    margin-left: 1em;
}


}